##
## https://github.com/sidigi/bitrix-docker/blob/master/docker-compose.yml
## https://github.com/spiritabsolute/bitrix-env-dev/blob/master/docker-compose.yml
##


version: '2'

volumes:
  mysql_data:

services:

  www:
    image: busybox
    container_name: bx-www
    volumes:
      - ${BX_PUBLIC_HTML_PATH}:/var/www/public_html

  modules:
    image: busybox
    container_name: bx-modules
    volumes:
      - ${BX_MODULES_PATH}:/media/bitrix/modules

  memcache:
    image: memcached:alpine
    container_name: bx-memcache
    restart: always
    networks:
      bx:
        aliases:
          - memcache

  redis:
    image: redis
    container_name: bx-redis
    restart: always
    networks:
      bx:
        aliases:
          - redis

  push-server-sub:
    image: ikarpovich/bitrix-push-server
    container_name: bx-push-sub
    restart: always
    build:
      context: ./push-server
    environment:
      - REDIS_HOST=redis
      - LISTEN_HOSTNAME=0.0.0.0
      - LISTEN_PORT=${BX_PUSH_SUB_PORT}
      - SECURITY_KEY=${BX_PUSH_SECURITY_KEY}
      - MODE=sub
    ports:
      - 8080:8080
    labels:
      - traefik.port=${BX_PUSH_SUB_PORT}
      - traefik.protocol=http
      - traefik.frontend.rule=Host:${BX_PUSH_SUB_HOST}
    networks:
      bx:
        aliases:
          - ${BX_PUSH_SUB_HOST}

  push-server-pub:
    image: ikarpovich/bitrix-push-server
    container_name: bx-push-pub
    restart: always
    build:
      context: ./push-server
    environment:
      - REDIS_HOST=redis
      - LISTEN_HOSTNAME=0.0.0.0
      - LISTEN_PORT=${BX_PUSH_PUB_PORT}
      - SECURITY_KEY=${BX_PUSH_SECURITY_KEY}
      - MODE=pub
    networks:
      bx:
        aliases:
          - ${BX_PUSH_PUB_HOST}

  mysql:
    build:
      context: ./mysql
    container_name: bx-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "${BX_MYSQL_ROOT_PASSWORD}"
    ports:
      - 3306:3306
    volumes:
      - mysql_data:/var/lib/mysql
      - ${BX_LOGS_PATH}/mysql:/var/log/mysql
    networks:
      bx:
        aliases:
          - mysql

  php-fpm:
    extends:
      file: ./common-services.yml
      service: server
    build:
      context: ./php-fpm
      args:
        - XDEBUG_IP="${BX_XDEBUG_IP}"
    container_name: bx-php-fpm
    restart: always
    volumes:
      - ${BX_LOGS_PATH}/php-fpm:/var/log/php-fpm
    volumes_from:
      - www
      - modules
    networks:
      bx:
        aliases:
          - php-fpm

  nginx:
    extends:
      file: ./common-services.yml
      service: server
    build:
      context: ./nginx
    ports:
      - 80:80
      - 443:443
    container_name: bx-nginx
    restart: always
    environment:
      - BX_DEFAULT_HOST=${BX_DEFAULT_HOST}
      - BX_DEFAULT_LOCAL_DOMAIN=${BX_DEFAULT_LOCAL_DOMAIN}
    volumes_from:
      - www
      - modules
    volumes:
      - ${BX_LOGS_PATH}/nginx:/var/log/nginx
    networks:
      bx:
        aliases:
          - nginx

networks:
  bx:
